/* Sassy CSS */

$text-black: #000;
$text-white: #fff;
$text-red: #ff0000;
@mixin bordered($width, $color) {
    border: $width solid $color;
}

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

.hover {
    color: $text-black;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid $text-black;
    border-radius: 3px;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color .5s;
    z-index: 2;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $text-black;
        transform-origin: 0 0;
        transform: scaleX(0);
        transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
        z-index: -1;
    }
    &:hover {
        color: $text-white;
        &:before {
            transform: scaleX(1);
        }
    }
}

.hover-1 {
    margin-top: 20px;
    color: $text-black;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    @include bordered(2px, $text-black);
    border-radius: 3px;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color .5s;
    z-index: 2;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0%;
        background: $text-black;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: all 0.4s cubic-bezier(0.24, 0.89, 0.68, -0.37)
    }
    &:hover {
        color: $text-white;
        &:before {
            height: 300%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

h2 {
    display: block;
    margin: 50px;
    padding: 10px;
    color: $text-black;
    font-weight: bold;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        width: 0;
        height: 100%;
        background-color: #e74c3c;
        transition: .25s;
        z-index: -1;
    }
    &:hover:before {
        width: 100%;
        left: auto;
        /*change here*/
        right: 0;
        /*change here*/
    }
}

.quote {
    margin: 10px;
    width: 300px;
    height: 200px;
    background-color: #eee;
    border-radius: 30px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50px;
        border-top: 10px solid #eee;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
}

.container {
    width: 100%;
    .nav {
        font-size: 14px;
        .item {
            float: left;
            .children {
                text-decoration: none;
                color: $text-black;
                @include bordered(1px, $text-black)
            }
        }
    }
}

.stick-man {
    @include element('head') {
        color: $text-red;
    }
    @include modifier('blue') {
        color: $text-red;
    }
}